body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.avatar {
    width: 150px;
}
.card-wrapper {
   width: 400px;
   margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 5px solid #d8cef8 ;
}
.border-blue {
    border: 6px dotted blue;
}
